.zoom{
    transition: transform .2s; /* Animation */
}
.zoom:hover{
    transform: scale(1.1);
    box-shadow: 100px;
}
.fundo{
    background-image: url(../IMAGENS/fundo1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
}
.fundo2{
    background-image: url(../IMAGENS/fundo2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.card-wrapper {
    margin-bottom: 30px;
  }
  .card-image .card .card-img-wrapper {
    height: 100%;
  }
  .card-image .card .card-body {
    display: none;
  }
  .card-image-title-description .card .card-img-wrapper {
    max-height: 160px;
  }
  .card-image-title-description .card {
    position: relative;
    min-height: 300px;
  }
  .card-image-title-description .card .card-body {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: -70px;
  }
  .card-image-title-description .card:hover .card-body {
    top: -70px;
  }
  .card-image-title-description .card .card-body .card-title {
    margin-bottom: .75rem;
  }
  .card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: 100%;
  }
  .card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
  }
  .card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
  }
  .card-img-wrapper img {
    transition: 1.5s ease;
  }
  .card:hover .card-img-wrapper img {
    transform: scale(1.15);
  }
  .card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
  }
  .card:hover .card-body .card-title {
    margin-bottom: .75rem;
  }
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.63);
    transition: 1.5s ease;
  }
  .card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
  }
  .card:hover .card-body {
    height: 80%;
  }
  .card:hover .card-content {
    bottom: 0;
  }

  @media (max-width:767px) {
    h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto
}

.intro p {
    margin-bottom: 0
}

.people {
    padding: 50px 0;
    cursor: pointer
}

.item {
    margin-bottom: 30px
}

.item .box {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    position: relative;
    overflow: hidden
}

.item .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 148, 255, 0.75);
    transition: opacity 0.15s ease-in;
    opacity: 0;
    padding-top: 80px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
}

.item:hover .cover {
    opacity: 1
}

.item .name {
    font-weight: bold;
    margin-bottom: 8px
}

.item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #bbd8fb;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 20px
}

.social {
    font-size: 18px
}

.social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7
}

.social a:hover {
    opacity: 1
}